<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.webpos.mapper.ProductMapper">
    <select id="getProducts" resultType="com.example.webpos.model.ProductDAO">
        SELECT * FROM PRODUCTS;
    </select>
    <select id="getImageURL" resultType="String">
        SELECT imageURL
        FROM PRODUCTIMAGEURL
        WHERE asin=#{asin} AND title=#{title};
    </select>
</mapper>